<div id="RCP1">
    <h2>The searched Result</h2>

    <ul class = "unordered-list" >
        <li><label class = "information">Comment ID : </label>{{comment.commentsID}}</li>
        <li><label class = "information">Username : </label>{{comment.userName}}</li>
        <li><label class = "information">Comment Description : </label>{{comment.commentsDescrip}}</li>
        <li><label class = "information">Recipe Title : </label>{{comment.recipeTitle}}</li>
    </ul>
</div>